:root {
    --color-violet: #9198e5; 
    --color-blue-shadow: #2286C3;
    --color-blue: #3f87a6;
    --color-white: #f3f3f3;
    --color-black: #1E1E1E;
    --color-slate-dark: #1b1b32;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Spline Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--color-white);
}

h1,
h2 {
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-violet);
    box-shadow: 0px 2px 5px var(--color-blue-shadow);
}

@media only screen and (max-width: 720px) {
    #navbar {
        justify-content: center;
    }
}

#navbar ul {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

.navbar__a {
    display: block;
    margin: 2rem;
    border-bottom: 2px solid var(--color-violet);
    font-size: 2.2rem;
    font-weight: 700;
}

.navbar__a:hover {
    border-bottom: 2px solid var(--color-blue);
    color: var(--color-blue);
}

/* welcome section */
#welcome-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: linear-gradient(45deg, var(--color-black) 0%, #000 100%);
}

#welcome-section p { 
    font-size: 3rem;
    font-style: italic;
    color: var(--color-violet);
}

/* project section */

#projects {
    background: var(--color-blue);
    text-align: center;
    padding: 10rem 2rem;
}

.projects-title {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--color-white);

}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: var(--color-slate-dark);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    transition: all .5seg ease-out;
}

.code {
    color: var(--color-slate-dark);
    transition: color .5seg ease-out;
    font-size: inherit
}

.project:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.project-title {
    font-size: 2rem;
    padding: 2rem .5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    height: auto;
}

.btn-show-all {
    font-size: 2rem;
    background: var(--color-slate-dark);
}

.btn-show-all:hover {
    background: #4c4c75;
}

/* contact section */

#contact {
    height: 80vh;
    background: #eee;
    background-image: linear-gradient(45deg, var(--color-black) 0%, #000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-section__header p {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: var(--color-blue);
}

.contact-section__header h2 {
    font-size: 6rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-link {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-link i{
    font-size: 2.4rem;
}

.contact-link:hover {
    transform: translateY(8px);
}